a:hover{
    text-decoration: none;
    color: black;
}
.navbar{
    display: flex;
    background-color: #928d8de3;
    justify-content: space-evenly;
}
.navbar h1{
    padding: 1em;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(21, 111, 184, 0.795), 0 0 0.5em rgb(105, 105, 148);
}
.navbar nav{
    align-self: center;
}
button a{
    text-decoration: none;
    font-weight: bold;
    color:rgba(21, 111, 184, 0.795);
    transition: color 0.3s;
}
button{
    border: 1 ;
    margin: 1em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: color 0.3s;
}
.searchBar{
    transition: border-color 0.3s, box-shadow 0.3s;
    color: #333;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
@media screen and (max-width: 478px){
    .navbar h1{
        padding: 0.3em;
        padding-bottom: 0.01em;
    }
}