a:hover{
    text-decoration: none;
    color: black;
}
.navbar{
    display: flex;
    background: linear-gradient(to bottom, #80cbc4, #00796b);
    justify-content: space-evenly;
}
.navbar h1{
    padding: 1em;
    text-align: center;
}
.navbar nav{
    align-self: center;
}
button a{
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}
button{
    border: 1 ;
    margin: 1em;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition: color 0.3s;
}
.searchBar{
    transition: border-color 0.3s, box-shadow 0.3s;
    color: #333;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}