.books-header{
    padding-top: 0.5em;
    text-align: center;
}
.btn-container{
    display: flex;
    justify-content: space-between;
}

.books-container{
    display: flex;
    width: 100%;
    padding-top: 1.5em;
}
.books-form{
    width: 50%;
    padding: 2em;
    background-color: #b9b2b299;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.form-control{
    max-width:100%;
    padding: 0.5em;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
}
.books-grid{
    width: 50%;
    padding: 2em;
    background-color: rgba(100, 99, 99, 0.6);
    border-bottom-right-radius: 5px;
    border-top-right-radius:5px;
}
.outer{
    display: flex;
}
.inner{
    width: 100%;
    text-align: center;
}

.books-row{
    width: 100%;
    display: flex;
    margin-bottom: 0.2em;
}

.books-row-details{
    background: white;
    flex-grow: 1;
    padding: 0.4em 1em;
    min-height: 2.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.2em;
    cursor: pointer;
}
.list-label{
    display: flex;
    flex-grow: 1;
    padding: 0.4em 1em;
    justify-content: space-between;
    align-items: center;
    margin: 0.2em;
    background: linear-gradient(90deg, rgba(40,114,128,1) 43%, rgba(52,166,189,1) 100%); 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
.edit-info{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bolder;
}
.books-header{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

