*{
    border: 0;
    margin: 0;
    padding: 0;
    
}

.filterBar{
    margin-left: 2rem;
    margin-right: 1rem;
}
.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-left: 2rem;
}
.form-control{
    max-width:max-content;
    padding: 0.5em;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
}
.form-control:focus(){
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.book-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    max-width: 300px;
}

.book-image {
    max-width: 100px;
    max-height: 100px;
    overflow: hidden;
    /* You can add additional styling for the image container here */
}

.book-details {
    flex-grow: 1;
}

.book-title {
    font-weight: bold;
    margin: 0;
}

.book-author {
    margin-top: 1em;
    margin-bottom: 2rem;
}

.book-description {

}

.book-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.publishing-year {
}

.genre {
}

body{
    background: rgb(29,168,208);
    background: linear-gradient(0deg, rgba(29,168,208,1) 0%, rgba(19,135,166,1) 100%); 
}