.content{
    display: flex;
    justify-content: space-evenly;
}
.book{
    display: flex;
    justify-content: space-evenly;
}
.book-item {
    display: flex;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 5px;
    max-height: 700px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.book-list {
    display: grid;
    grid-template-columns:auto auto auto;
}

.book-image {
    flex: 1;
    align-items: center;
    max-width: auto;
}
.book-image img{
    object-fit: cover;
    max-width: 100%;
    min-height: 450px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.book-details {
    flex: 1;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #9999;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.book-title {
    font-weight: bold;
    align-self: flex-start;
    margin: 0;
}

.book-author {
    margin-bottom: 1em;
    font-style: italic;
}

.book-description {
    overflow: auto;
    max-height: 21em;
    scrollbar-width: none;
}
.outer{
    display: flex;
    justify-content: center;
}
.inner input{
    text-align: center;
    width: 40em;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}



.book-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



@media screen and (max-width: 1280px){
    .book-list {
        display: grid;
        grid-template-columns:auto auto auto ;
        margin-left: 1em;
        margin-right: 1em;
    }
    .book-item{
        max-height: 300px;
    }
    .book-details{
        padding-right: 2em;
        padding-left: 1em;
    }
    .book-image img{
        min-height: 300px;
    }
    .book-description{
        max-height: 180px;
    }
}

@media screen and (max-width: 1024px){
    .book-list {
        display: grid;
        grid-template-columns:auto auto;
        margin-left: 2rem;
    }
    .book-description{
        padding-bottom: 15em;
    }
    .book-item{
        max-height: 330px;
    }
    .book-description{
        max-height: 180px;
    }
}
@media screen and (max-width: 768px){
    .book-list {
        display: grid;
        grid-template-columns:auto auto;
        margin-left: 1em;
    }
    .inner input{
        max-width: 466px;
        margin:0.5em;
        padding:0.5em;
    }
    .book-item {
        margin: 1em;
        max-height: 19em;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .book-description{
        padding-bottom: 12em;
        margin-right: 1em;
    }
    .book-image{
        background-color: transparent;
    }
    .book-image img {
        max-height: 19em;
        max-width: auto;
    }


}
@media screen and (max-width: 480px){
    .book-list {
        display: grid;
        grid-template-columns:auto;
        margin-left: 1rem;
    }
    .book-description{
        padding-bottom: 12em;
    }

}
@media screen and (max-width: 320px){
    .book-list {
        display: grid;
        grid-template-columns:auto;
        margin-left: 0.4em;
    }
    .inner input{
        max-width: 310px;
        margin:0.5em;
        padding:0.5em;
    }
    .book-item {
        min-width: 290px;
        display: flex;
        align-items: center;
        position: relative;
        margin: 1em;
        background: #9999;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
}