<div class="content" role="main">
    <div class="book">
        <div class="book-list">
            <form *ngFor="let book of books | appFilter: searchText">
                <div class="book-item">
                    <div class="book-image">
                        <img src={{book.img}}>
                    </div>
                    <div class="book-details">
                        <p class="book-title">{{book.title}}</p>
                        <p class="book-author">{{book.author}}</p>
                        <div class="book-description">
                            <p>{{book.description}}</p>
                        </div>
                        <div class="book-info">
                            <p class="publishing-year">{{book.publishingYear}}</p>
                            <p class="genre">{{book.genre}}</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-group">
            <label class="filterBar"for="search-text">Filter by</label>
            <input type="text" class="form-control" id="search-text" aria-describedby="search-text" 
            [(ngModel)]="searchText" placeholder="Genre, Title, Author" autofocus>
        </div>
    </div>
</div>